<h1 class="h3 mb-2 text-gray-800">Editando</h1>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <form role="form">
              <div class="form-group">
                <input class="form-control" placeholder="Ensira seu e-mail"></input>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Ensira a senha"></input>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Confirme a senha"></input>
              </div>
              <button type="submit" class="btn btn-primary"> Salvar Alterações </button>
            </form> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>